<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="EDFDXformM2M" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:EDFDXformM2M" id="EDFDXformM2M">
      <query-specification fqn="EDFD"/>
      <query-specification fqn="EDFDAsset"/>
      <query-specification fqn="Boundaries"/>
      <query-specification fqn="BoundariesAssets"/>
      <query-specification fqn="NodeElements"/>
      <query-specification fqn="NodeElementsAssets"/>
      <query-specification fqn="EEandDSElement"/>
      <query-specification fqn="EEandDSAssetElement"/>
      <query-specification fqn="EEElements"/>
      <query-specification fqn="EEElement"/>
      <query-specification fqn="AssetSource"/>
      <query-specification fqn="DSElements"/>
      <query-specification fqn="ProcessElements"/>
      <query-specification fqn="ProcessElementsAssets"/>
      <query-specification fqn="FlowElements"/>
      <query-specification fqn="Assets"/>
      <query-specification fqn="Responsibilities"/>
      <query-specification fqn="ResponsibilityTypes"/>
      <query-specification fqn="sourceOfFlow"/>
      <query-specification fqn="targetOfFlow"/>
      <query-specification fqn="highPriorityAsset"/>
      <query-specification fqn="confidentialAsset"/>
      <query-specification fqn="publicAsset"/>
      <query-specification fqn="comparatorProcesses"/>
    </group>
  </extension>
  <extension id="viatra.EDFDXformM2M" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:viatra.EDFDXformM2M" id="viatra.EDFDXformM2M">
      <query-specification fqn="viatra.EDFD"/>
      <query-specification fqn="viatra.EDFDAsset"/>
      <query-specification fqn="viatra.Boundaries"/>
      <query-specification fqn="viatra.BoundariesAssets"/>
      <query-specification fqn="viatra.NodeElements"/>
      <query-specification fqn="viatra.NodeElementsAssets"/>
      <query-specification fqn="viatra.EEandDSElement"/>
      <query-specification fqn="viatra.EEandDSAssetElement"/>
      <query-specification fqn="viatra.EEElements"/>
      <query-specification fqn="viatra.EEElement"/>
      <query-specification fqn="viatra.AssetSource"/>
      <query-specification fqn="viatra.DSElements"/>
      <query-specification fqn="viatra.ProcessElements"/>
      <query-specification fqn="viatra.ProcessElementsAssets"/>
      <query-specification fqn="viatra.FlowElements"/>
      <query-specification fqn="viatra.Assets"/>
      <query-specification fqn="viatra.Responsibilities"/>
      <query-specification fqn="viatra.ResponsibilityTypes"/>
      <query-specification fqn="viatra.sourceOfFlow"/>
      <query-specification fqn="viatra.targetOfFlow"/>
      <query-specification fqn="viatra.highPriorityAsset"/>
      <query-specification fqn="viatra.confidentialAsset"/>
      <query-specification fqn="viatra.publicAsset"/>
      <query-specification fqn="viatra.comparatorProcesses"/>
    </group>
  </extension>
</plugin>
